<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <header>
    <h1>Edit Student</h1>
  </header>

  <main>
    <form action="/student/edit/<%=student._id%>" method="post">
      Name:
      <input type="text" name="name" value="<%=student.name%>">
      <br><br>
      Email:
      <input type="text" name="email" value="<%=student.email%>">
      <br><br>
      Password:
      <input type="text" name="password" value="<%=student.password%>">
      <br><br>
      Contact:
      <input type="text" name="contact" value="<%=student.contact%>">
      <br><br>
      <input type="submit" value="Edit">
    </form>
  </main>
</body>

</html>